<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="de.zertapps.dvhma.plugins.webintent"
        version="1.0.0">

    <name>DVHMA WebIntent</name>
    <description>Web intents for Cordova</description>
    <license>MIT</license>
    <keywords>cordova,webintent</keywords>

    <!-- JS module -->
    <js-module src="www/webintent.js" name="WebIntent">
        <clobbers target="webintent" />
    </js-module>

    <!-- ANDROID PLATFORM -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebIntent">
                <param name="android-package" value="com.borismus.webintent.WebIntent" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </config-file>

        <source-file src="src/android/WebIntent.java"
                     target-dir="src/com/borismus/webintent" />

    </platform>

    <!-- IOS PLATFORM -->
    <platform name="ios">

    <config-file target="config.xml" parent="/*">
        <feature name="WebIntent">
            <param name="ios-package" value="WebIntent" />
        </feature>
    </config-file>

    <header-file src="src/ios/WebIntent.h" />
    <source-file src="src/ios/WebIntent.m" />

    <!-- Add universal URL handler in AppDelegate -->
    <config-file target="App/AppDelegate.swift" parent="/*">
        <string>
        // --- DVHMA Injected WebIntent Forwarder ---
        override func application(_ app: UIApplication,
                                  open url: URL,
                                  options: [UIApplication.OpenURLOptionsKey : Any] = [:]) -> Bool {

            NotificationCenter.default.post(
                name: Notification.Name("CDVPluginHandleOpenURL"),
                object: url
            )
            return true
        }
        // --- End Injected Code ---
        </string>
    </config-file>
    
    </platform>



</plugin>
